a.wp-block-ea-post-preview {
    display: block;
    position: relative;
}

img.wp-block-ea-post-preview__img {
    display: block;
    max-width: 100%;
}

a.wp-block-ea-post-preview p {
    bottom: 0;
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 16px;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.wp-block-ea-post-preview__fade {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+45,1c2541+100&0+45,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 45%, rgba(28,37,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 45%,rgba(28,37,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 45%,rgba(28,37,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1c2541',GradientType=0 ); /* IE6-9 */
}
