.footer-bar {
  background: #2f4550;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.footer-bar p {
  @include source-sans-reg;
  color: white;
  font-size: 14px;
  margin-bottom: 2px;
}

.footer-bar__left {
  grid-column: 2 / span 1;
}

.footer-bar__right {
  grid-column: 1 / span 1;
}

.footer-bar__link {
  color: white;
}

.menu-main_menu-container {
  height: 100%;
}

.main-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #2f4550;
  opacity: 0.92;
  grid-template-rows: 7% auto;
  transition: 0.5s left;
  left: 100vw;
  display: grid;
}

body.hasOpenMenu .main-menu {
  left: 0;
}

body.hasOpenMenu {
  max-height: 100vh;
  overflow-y: hidden;
}

.main-menu__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: none;
}

body.hasOpenMenuWrapper .main-menu__wrapper {
  display: block;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.main-menu li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 100vw;
  text-align: center;
}

.main-menu li::after {
  content: "";
  display: block;
  border-bottom: 2px solid white;
  width: 66%;
}

.main-menu li:last-of-type::after {
  border-bottom: 2px solid transparent;
}

.main-menu a {
  @include source-sans-reg;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.main-menu__close-icon {
  font-size: 30px;
  color: white;
  margin: 40px 11px 11px 11px;
  justify-self: end;
}
