.header-bar {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid $black;

  @media #{$desktop} {
    grid-template-columns: auto 1fr;
  }
}

.header-bar__site-title {
  @include montserrat-medium;
  color: $black;
  text-decoration: none;
  font-size: 18px;
}

.header-bar__menu-icon {
  text-align: right;
  font-size: 20px;

  @media #{$desktop} {
    display: none;
  }
}

.header-bar__logo {
  max-width: 100px;
}

.full-menu__wrapper {
  display: none;
  width: 100%;

  @media #{$desktop} {
    display: block;
  }
}

.full-menu {
  margin: 0 20px;
}

.full-menu > div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.full-menu a {
  @include montserrat-medium;
  text-decoration: none;
  color: $black;
}
