@import url("//fonts.googleapis.com/css?family=Montserrat:500,700|Source+Sans+Pro:400,700");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

body {
  margin: 0;
  background: #f9f9f9;
}

.content,
.main {
  max-width: 100vw;
}

h2 {
  @include montserrat-bold;
  font-size: 20px;
  color: $black;
  margin: 12px 10px 5px;

  @media #{$desktop} {
    font-size: 30px;
  }
}

p {
  @include source-sans-reg;
  font-size: 20px;
  margin: 0 10px 10px;
}

a {
  color: #48a9a6;
}

.event-card {
  background: #1c2541;
  margin: 8px 11px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 9px;

  @media #{$desktop} {
    box-shadow: none;
    color: $black;
    background: none;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
  }
}

.event-card p {
  display: block;
  margin: 0;
  line-height: 140%;

  @media #{$desktop} {
    line-height: inherit;
  }
}

.event-card__date-month {
  font-size: 14px;

  @media #{$desktop} {
    font-size: 20px;
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
  }
}

.event-card__date-num {
  @include montserrat-medium;
  font-size: 25px;

  @media #{$desktop} {
    font-size: 30px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}

.event-card__title {
  @include montserrat-medium;
  font-size: 16px;

  @media #{$desktop} {
    @include montserrat-bold;
    font-size: 20px;
    grid-row: 1 /span 2;
    align-self: center;
  }
}

.event-card__sub {
  font-size: 14px;

  @media #{$desktop} {
    grid-column: 3 /span 1;
    grid-row: 1 / span 1;
    font-size: 15px;
  }
}

.event-card__foot {
  display: flex;
  justify-content: space-between;

  @media #{$desktop} {
    grid-column: 3 /span 1;
    position: relative;
  }
}

.event-card__link {
  @include montserrat-medium;
  font-size: 12px;
  color: white;

  @media #{$desktop} {
    background: #2f4550;
    padding: 3px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 100%;
  }
}

@media #{$desktop} {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
