/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$desktop: "only screen and (min-width : 800px)";
$spacer:                2rem;
$black: #0b132b;

@mixin source-sans-reg() {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@mixin source-sans-bold() {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

@mixin montserrat-medium() {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@mixin montserrat-bold() {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
